extends base
block content
    main.main
      .login-form
        h2.heading-secondary.ma-bt-sm Reset your password
        h3.heading-medium.ma-bt-lg Enter your user account's email address and we will send you a password reset link.
        form.form.form--login.form--forgot-password
          .form__group
            label.form__label(for='email') Email address
            input#email.form__input(type='email', placeholder='you@example.com', required)
          .form__group
            button.btn.btn--green Send reset email